#calendar {
    max-width: 1500px;
    margin: 20px auto 40px;
    background: #fff;
    padding: 20px;
    border-radius: 0.75rem;
    box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);
}
.fc-event-title {
    font-size: 1rem;       /* หรือ 14px */
    font-weight: 600;      /* ทำให้เด่นขึ้น */
    white-space: normal;   /* ให้ตัดบรรทัดได้ */
}

.fc-daygrid-day-number {
    color: #dc723aff !important;
    font-weight: 600;
}

.fc-col-header-cell-cushion {
    color: #dc723aff !important;
    font-size: 15px;
    font-weight: 600;
}