.btn-manage {
    background-color: #F57B39;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}
.btn-manage :hover{
    background-color: #ffffff;
    border: #F57B39;
    border-radius: 10px;
    padding: 7px;
    color: #000000;
}