/* Card Header */
.card-header {
    background: linear-gradient(45deg, #ff7b29, #ff9f4a);
    padding: 18px;
    color: #fff;
    border: none;
}
.table-requests thead th {
    background: #ff8d4a;
    color: #fff;
    font-weight: 600;
    border: none;
    white-space: nowrap;
}