.contact-divider {
    width: 100px;
    height: 4px;
    background: #F57B39;
    border-radius: 10px;
}

.contact-box {
    min-height: 260px; 
    border-radius: 12px;
    transition: 0.3s;
}

.contact-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.icon-lg {
    font-size: 50px;
    color: #F57B39;
}

.map-box {
    border-radius: 12px;
}

.contact-section {
    background: #fffdfc;
}
