.card-header {
    background: linear-gradient(45deg, #ff7b29, #ff9f4a);
    padding: 18px;
    color: #fff;
    border-bottom: 0;
}
.btn {
    background-color: #F57B39;
    color: #ffffff;
    border: 0;
}
.btn:hover {
    background-color: #ffffff;
    color: #F57B39;
    border: 1px solid #F57B39;
}
.badge {
    font-size: 14px;
}   
